.main {
  position: relative;
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;

  &__title {
    margin: 24px 0;
  }

  &__form {
    padding: 24px 0;

    [tp-container-input]:not(:last-child),
    [tp-container-select]:not(:last-child) {
      margin-bottom: 24px;
    }

    .med-icon {
      color: hsl(var(--med-color-neutral-6));
    }
  }

  &__button-container {
    margin-top: 40px;
    display: flex;
    align-items: center;

    [tp-button]:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__cards-container {
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

// transição das telas
.main {

  &__tela-1,
  &__tela-2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
  }
}

.show {
  &.main__tela-1 {
    opacity: 1;
    transform: translateX(0);
  }

  &.main__tela-2 {
    opacity: 1;
    transform: translateX(0);
  }
}

.hidden {
  &.main__tela-1 {
    opacity: 0;
    transform: translateX(-100%);
  }

  &.main__tela-2 {
    opacity: 0;
    transform: translateX(100%);
  }
}