.card {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid hsl(var(--med-color-neutral-3));

  &__icon {
    height: 48px;
    width: 48px;
    fill: hsl(var(--med-color-neutral-10));
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 12px;
  }
}
