@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

.move-in-left,
.move-in-right {
  animation-duration: 0.4s;
}

.move-in-left {
  animation-name: moveInLeft;
}

.move-in-right {
  animation-name: moveInRight;
}

.move-out-left,
.move-out-right {
  animation-duration: 0.8s;
}

.move-out-left {
  animation-name: moveOutLeft;
}

.move-out-right {
  animation-name: moveOutRight;
}
