@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.move-in-left {
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  //animation-timing-function: ease-out;
}

.move-in-right {
  animation-name: moveInRight;
  animation-duration: 0.5s;
  //animation-timing-function: ease-out;
}

.move-out-left {
  animation-name: moveOutLeft;
  animation-duration: 0.5s;
  //animation-timing-function: ease-out;
}

.move-out-right {
  animation-name: moveOutRight;
  animation-duration: 0.5s;
  //animation-timing-function: ease-out;
}