*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
}

body {
  box-sizing: border-box;
  background-color: hsl(var(--med-color-neutral-2));
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--med-color-neutral-25));
 }

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--med-color-neutral-6));
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1280px;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.row {
  display: flex;
  align-items: start;
  margin-top: 80px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.col {
  flex: 0 0 640px;
}

.text {
  padding: 24px;

  
  &__paragrafo {
    margin-bottom: 8px;
    
    &--no-margin {
      margin-bottom: 0;
    }
  }

  &__titulo {
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  &__list {
    padding-left: 24px;
  }

  &__item {
    color: hsl(var(--med-color-neutral-8));
  }
}
